@model PawsAndClaws.Models.AppointmentViewModel

@{
    ViewBag.Title = "Edit";
}

<h3>Edit appointment</h3>
<br />
@using (Html.BeginForm("Create", "Appointment", FormMethod.Post))
{
    @Html.HiddenFor(i => i.AppointmentId)
    @Html.HiddenFor(i => i.PetId)
    @Html.HiddenFor(i => i.OwnerId)

    <h4>Appointment Information</h4>
    <br />
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(i => i.AppointmentDate, new { style = "display:block" })
            @Html.EditorFor(i => i.AppointmentDate)
        </div>
        <div class="col-md-4">
            @Html.LabelFor(i => i.AppointmentReason, new { style = "display:block" })
            @Html.EditorFor(i => i.AppointmentReason)
        </div>
    </div>
    <hr />
    <br />
    <h4>Animal Information</h4>
    <br />
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(i => i.PetName, new { style = "display:block" })
            @Html.EditorFor(i => i.PetName)
        </div>
        <div class="col-md-4">
            @Html.LabelFor(i => i.Type, new { style = "display:block" })
            @Html.EditorFor(i => i.Type)
        </div>
    </div>
    <hr />
    <br />
    <h4>Owner Contact</h4>
    <br />
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(i => i.First, new { style = "display:block" })
            @Html.EditorFor(i => i.First)
        </div>
        <div class="col-md-4">
            @Html.LabelFor(i => i.Last, new { style = "display:block" })
            @Html.EditorFor(i => i.Last)
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            @Html.LabelFor(i => i.Phone, new { style = "display:block" })
            @Html.EditorFor(i => i.Phone)
        </div>
        <div class="col-md-4">
            @Html.LabelFor(i => i.Address, new { style = "display:block" })
            @Html.EditorFor(i => i.Address)
        </div>
    </div>
    <hr />
    <br />
    <button class="btn btn-default" type="submit" value="submit">Submit</button>
    <a class="btn btn-default" href="/Appointment/Index">Back</a>
}
